<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body></body>
  <h1>Welcome to the Quotes Page, Were Shall You Find Wisdom & Inspiration</h1>
  <a href="/quotes">All Quotes</a>
  <a href="/quotes/new">Add a new Quote</a>
</html>
